<div class="container">
    <h4>Application Form</h4>
    <form action="/job/{{job['id']}}/apply" method="post">
        <div class="m-3">
            <label for="Fullname">Full Name</label><br>
            <input type="text" name="full_name" placeholder="Harry Potter">
        </div>
        <div class="m-3">
            <label for="Email">Email</label><br>
            <input type="text" name="email" placeholder="harrypotter@gmail.com">
        </div>
        <div class="m-3">
            <label for="Linkedin URL">Linkedin URL</label><br>
            <input type="text" name="linkedin_url" placeholder="https://linkedin.com/harrypotter">
        </div>
        <div class="m-3">
            <label for="">Education</label><br>
            <textarea name="education" id=""></textarea>
        </div>
        <div class="m-3">
            <label for="">Work Experience</label><br>
            <textarea name="work_experience" id=""></textarea>
        </div>
        <div class="m-3">
            <label for="Resume URL">Resume URL</label><br>
            <input type="text" name="resume_url" placeholder="https://my_resume">
        </div>
        <div class="m-3">
            <input type="submit" name="" id="">
        </div>
    </form>
</div>