<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'bootstrap.html'%}
    <title>{{job.title}}-Careers</title>
</head>
<body>
    <div>
        {% include 'header.html' %}
    </div>
    
    <div>
        {% include 'banner.html' %}
    </div>
    <div class="container mt-3">
        <h3>{{job.title}}</h3>
        <p class="lead">{{job.location}}</p>
        <h4>Responsibilities</h4>
        <ul>
            {% for line in job.responsibilities.split("\n") %}
                {% if line.strip() %}
                    <li>{{ line }}</li>
                {% endif %}
            {% endfor%}
        </ul>
        <h4>Requirements</h4>
        <ul>
            {% for line in job.requirements.split("\n") %}
                {% if line.strip() %}
                    <li>{{ line }}</li>
                {% endif %}
            {% endfor%}
        </ul>
        <h4>Salary</h4>
        <p> {{job.currency}}{{job.salary}}</p>
        
    </div>
    {% include 'application_form.html' %}
    <div>
        {% include 'footer.html' %}
    </div>
</body>
</html>